.card-columns {
    column-count: 5
}

.ic-pos {
    text-align: end
}

.header {
    text-align: center
}

.header {
    margin-top: 7em
}


.card-footer{
background-color: #17a2b8;
margin-top: 5em
}



